.div_form{
	width: 400px;
	height: 400px;
	border:dashed black 1px;
    padding: 5px;
   margin-left: 30%;
}

.div_form h1{
	text-align: center;
	font-family: 'poppins',sans-serif;
}
.div_form input{
	width: 100%;
    height: 40px;
    margin-top:20px;
    background-color: transparent;
    border:solid black 1px;

	font-family: 'poppins',sans-serif;

}
.div_form button{
	width: 100%;
	height: 40px;

	font-family: 'poppins',sans-serif;
	margin-top: 20px;
	background-color: black;
	border:none;
	color:white;
}